<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1500</integer>
    <key>capHeight</key>
    <integer>1000</integer>
    <key>copyright</key>
    <string>Copyright (c) 2020-2024 Amine Anane, Copyright © 2024 Tarteel Inc.</string>
    <key>descender</key>
    <integer>-700</integer>
    <key>familyName</key>
    <string>DigitalKhatt New Madina</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>openTypeHeadCreated</key>
    <string>2025/12/03 19:20:35</string>
    <key>openTypeHeadFlags</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeHeadLowestRecPPEM</key>
    <integer>8</integer>
    <key>openTypeHheaAscender</key>
    <integer>1500</integer>
    <key>openTypeHheaCaretOffset</key>
    <integer>0</integer>
    <key>openTypeHheaCaretSlopeRise</key>
    <integer>1</integer>
    <key>openTypeHheaCaretSlopeRun</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-700</integer>
    <key>openTypeHheaLineGap</key>
    <integer>200</integer>
    <key>openTypeNameDesignerURL</key>
    <string>https://github.com/DigitalKhatt</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>DigitalKhatt</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://github.com/DigitalKhatt</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>DigitalKhatt New Madina</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeNameRecords</key>
    <array>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>0</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Copyright (c) 2020-2024 Amine Anane, Copyright © 2024 Tarteel Inc.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>0</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Copyright (c) 2020-2024 Amine Anane, Copyright © 2024 Tarteel Inc.</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>1</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>DigitalKhatt New Madina</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>1</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>DigitalKhatt New Madina</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>2</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>3</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>DigitalKhatt New Madina RegularV01</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>3</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>DigitalKhatt New Madina RegularV01</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>4</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>DigitalKhatt New Madina Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>4</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>DigitalKhatt New Madina Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>5</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Version 0.1</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>5</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Version 0.1</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>6</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>DigitalKhattNewMadinaRegular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>6</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>DigitalKhattNewMadinaRegular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>8</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>DigitalKhatt</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>8</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>DigitalKhatt</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>11</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>https://github.com/DigitalKhatt</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>11</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>https://github.com/DigitalKhatt</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>12</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>https://github.com/DigitalKhatt</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>12</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>https://github.com/DigitalKhatt</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>13</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>13</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>14</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>http://scripts.sil.org/OFL</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>14</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>http://scripts.sil.org/OFL</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>16</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>DigitalKhatt New Madina</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>16</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>DigitalKhatt New Madina</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>17</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>17</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>19</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>19</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>21</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>DigitalKhatt New Madina</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>21</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>DigitalKhatt New Madina</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>3</integer>
        <key>languageID</key>
        <integer>0</integer>
        <key>nameID</key>
        <integer>22</integer>
        <key>platformID</key>
        <integer>0</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>22</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Regular</string>
      </dict>
    </array>
    <key>openTypeNameUniqueID</key>
    <string>DigitalKhatt New Madina RegularV01</string>
    <key>openTypeNameVersion</key>
    <string>Version 0.1</string>
    <key>openTypeNameWWSFamilyName</key>
    <string>DigitalKhatt New Madina</string>
    <key>openTypeNameWWSSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>6</integer>
      <integer>51</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array/>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>300</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>20</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>300</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>150</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>100</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>150</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>300</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>150</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>1000</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>150</integer>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>1500</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-700</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>200</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>13</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string></string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1500</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>700</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>DigitalKhattNewMadinaRegular</string>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-200</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>20</integer>
    <key>styleMapFamilyName</key>
    <string>DigitalKhatt New Madina</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>400</integer>
  </dict>
</plist>
